if(categories_list)
    each item in categories_list
        br
        input(
            id='category_' + item.id,
            type='checkbox',
            name='categories',
            value=item.id,
            checked= chosen_categories.includes(item.id.toString()) 
            )
        label(for='category_' + item.id)
            |#{item.name}
    br
    script(src='/assets/set_all_categories.js')
    a(onclick='set_all_categories(true); return false;') Select all categories
    br
    a(onclick='set_all_categories(false); return false;') Unselect all categories
else
    |No categories provided.
