if(categories_list)
    each item in categories_list
        br
        input(
            id='category_' + item.id,
            type='checkbox',
            name='categories',
            value=item.id,
            checked= chosen_categories.includes(item.id.toString()) 
            )
        label(for='category_' + item.id)
            |#{item.name}
    br
    a(id='all_categories_button') Select all categories
    br
    a(id='no_categories_button') Unselect all categories
    script(src='/assets/set_all_categories.js')
else
    |No categories provided.