extends main.pug

block child
    script
        include apply_orders_filter.js
        include set_order_status.js
    label(for='status_filter') Filter by status: 
    select(name='status_filter' id='status_filter' onchange='apply_orders_filter(); return false;')
        option(value='none') 
        option(value='new') New
        option(value='processing') Processing
        option(value='delivered') Delivered
        option(value='canceled') Canceled 
    br
    |X results, page 0 of X (← previous / next →)
    table
        tr
            th Order ID
            th Created
            th Product code / name
            th Quantity * unit price
            th Customer ID / name
            th Instructions 
            th Status
            th Change status
        each order in orders
            tr
                td #{order.order_id}
                td #{order.order_date.toISOString()}
                td #{order.product_code} / #{order.product_name}
                td #{order.order_quantity} * #{order.unit_price} € = #{order.order_quantity * order.unit_price} €
                td #{order.customer_id} / #{order.customer_first_name} #{order.customer_last_name}
                td #{order.order_instructions}
                td #{order.order_status}
                td
                    select(id=`select_${order.order_id}` onchange=`set_order_status(${order.order_id}); return false;`)
                        option(value='none' selected='selected')
                        option(value='new') New
                        option(value='processing') Processing
                        option(value='delivered') Delivered
                        option(value='canceled') Canceled 