extends main.pug

block child
    div.order-section
        b You are about to order following items:
        each product in products
            div.order-row
                div.align-center
                    img(src='/images/' + product.image_file width='100px' style='border-radius: 50%;')
                div.order-row-text
                    b #{product.product_id}: #{product.name}
                    br
                    i #{product.description}
                    br
                    div.align-right
                        | #{product.price_per_pc} € * #{product.quantity} = #{product.price_per_pc * product.quantity} €
                    hr
        b Summary:
        |Total of #{total_price} €
        form(action='/order' method='post' enctype='multipart/form-data')
            b: label(for='instructions') Instructions:
            br
            textarea(id='instructions' name='instructions' rows='3' cols='60')
            br
            button 📥 Submit order!