div.page-selector
    div
        if page_number > 0
            a(onclick=`apply_filter(${Number(page_number) - 1}); return false;`) ← Previous page
            br
            a(onclick=`apply_filter(0); return false;`) Go to the first page
    div.align-center
        |Current page is #{page_number + 1} of #{total_of_pages}.
        br
        |Showing products #{showing_first}-#{showing_last} of #{product_count}.
    div.align-right
        if page_number + 1 < total_of_pages
            a(onclick=`apply_filter(${Number(page_number) + 1}); return false;`) Next page →
            br
            a(onclick=`apply_filter(${total_of_pages}); return false;`) Go to the last page