extends main.pug

block child

    div.product-section

        div.sidebar
            |Search:
            br
            input(id='search_node' type='search' size='18' value=search_string)
            hr
            |Categories:
            include categories_list.pug
            hr
            div.align-center: a.rounded-button(id='apply_filter_button') Apply filters

        div.product-list
            include page_selector.pug
            
            if(Object.keys(product_list).length)
                table
                    tr
                        th(style='width:20%')
                        th.align-center(style='width:50%') Product
                        th.align-center(style='width:10%') Categories
                        th.align-center(style='width:20%') Price
                    each item in product_list
                        tr
                            td(style='padding-right: 15px; padding-top: 5px; padding-bottom: 5px;')
                                if item.image_file
                                    a(href=`/product/view?code=${item.code}`)
                                        img.shadow(src='/public/' + item.image_file width='100%' style='border-radius: 10%;')
                            td
                                a(href=`/product/view?code=${item.code}`)
                                    |#{item.name} 
                                br
                                i #{item.description}
                                br
                                br
                            td.align-center
                                |#{item.categories}
                            td.align-center
                                |#{item.price} €
                                br
                                include add_to_cart_button.pug
            else
                div.align-center 
                    |No results.
                    br
                    br
            
            include page_selector.pug
    
    script(src='/assets/add_cart_events.js')
    script(src='/assets/apply_products_filter.js')
    script(src='/assets/post_json.js')