extends main.pug

block child
    script
        include post_json.js
    
    div.product-section
        div.sidebar
            |Search:
            br
            input(id='search_node' type='search' size='18' value=search_string)
            hr
            |Categories:
            include categories_list.pug
            hr
            script
                include apply_filter.js
            a(onclick='apply_filter(); return false;') Apply settings
        div.product-list
            include page_selector.pug
            
            if(Object.keys(product_list).length)
                table
                    tr
                        th(style='width:15%')
                        th(style='width:55%') Product
                        th(style='width:15%') Categories
                        th(style='width:15%') Price                      
                    each item in product_list
                        tr
                            td(style='padding-right: 10px;')
                                if item.image_file
                                    img.shadow(src='/images/' + item.image_file width='100%' style='border-radius: 10%;')
                            td
                                b #{item.name}
                                br
                                i #{item.description}
                                br
                                br
                            td
                                |#{item.categories}
                            td
                                |#{item.price} € / pc.
                                br
                                a(onclick=`post_json("/shoppingcart/add", { product_id: "${item.code}", quantity: 1 }).then((data) => { alert(data.message); }); return false;`) 🛒 Add to cart
            else
                div.align-center 
                    |No results.
                    br
                    br
            
            include page_selector.pug