extends main.pug

block child
    div.product-section
        div.sidebar
            |Search:
            br
            input(id='search_node' type='search' size='18' value=search_string)
            hr
            |Categories:
            include categories_list.pug
            hr
            script
                include apply_filter.js
            a(onclick='apply_filter(); return false;') Apply settings
        div.product-list
            if(Object.keys(product_list).length)
                table
                    tr
                        th(style='width:15%')
                        th(style='width:55%') Product
                        th(style='width:15%') Categories
                        th(style='width:15%') Price                      
                    each item in product_list
                        tr
                            td
                                if item.image_file
                                    img(src='http://localhost:3000/images/' + item.image_file width='100%' style='border-radius: 5%;')
                            td
                                b #{item.name}
                                br
                                i #{item.description}
                                br
                                br
                            td
                                |#{item.categories}
                            td
                                |#{item.price} € / pc.
                                br
                                a(href='http://localhost:3000/products/') (add to cart)
            else
                div.align-center 
                    |No results.
                    br
                    br
            
            div.page-selector
                div
                    a(href=`http://localhost:3000/products/list/${Number(page_number) - 1}`) ← Previous page (1)
                    br
                    a(href='http://localhost:3000/products/list/0') Go to the first page
                div.align-center Current page is #{page_number} of X. Showing products x-x of x.
                div.align-right
                    a(href=`http://localhost:3000/products/list/${Number(page_number) + 1}`) Next page (3) →
                    br
                    a(href='http://localhost:3000/products/') Go to the last page